body,html {
    height: 100%;
}

p {
    font-family: "Trebuchet MS";
    padding: 15px;
}
/* NAV BAR */

.navbar-default {
    background-color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    z-index: 1;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #97c67d;
}

.content {
    padding: 15px;
}

/* LOGIN BOX */

input[type=text], input[type=password] {
    width: 100%;
    padding: inherit;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

button {
    background-color: #97c67d;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: lightgrey;
    color: black;
}

.cancelbtn {
    width: auto;
    padding: inherit;
    background-color: red;
}

.container {
    padding: inherit;
}


/* INDEX CSS */

/* Welcome Img */

.welcome{
    max-width:100%;
    max-height: 60%;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15px 0;
}

.welcome > img {
    height: 100%;
    width: 100%;
}

/* Icon Area */

.icon::after {
    content: "";
    clear: both;
    display: table;
}

.col-3 {
    width: 25%;
	position: relative;
	text-align:center;
}

.icon {
    display: flex;
    flex-direction: row;
    object-position: center;
}

.circle {
  border-radius: 4px;
  display: flex;
}

.circle > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 80%;
}

.img_description {
  border-radius: 50%;
  position: sticky;
  top: 180px;
  bottom: 0;
  left: 0px;
  right: 0px;
  
  #	background: rgba(29, 106, 154, 0.72);
  color: black;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.col-3:hover .img_description {
  visibility: visible;
  opacity: 1;
}

/* Middle Section */

[class*="col-"] {
    float: left;
    padding: 15px 0;
}

.midSec::after {
    content: "";
    clear: both;
    display: table;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.img {
    background: skyblue;
}

.about {
    background: #97c67d;
    color: white;
}

/* ABOUT US CSS */

/* Slideshow */

.slideshow-container {
    max-width:1000px;
    width:80%;
    height:50%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    overflow: hidden;
    max-height: 100%;
}

.mySlides > img {
    height: 100%;
    width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Content */

.leftCol {
    float: left;
    width: 60%;
}

.rightCol {
    float: left;
    width: 40%;
    background-color: #97c67d;
}

/* SPODER Page */

.SPODERbanner {
    background-color: #97c67d;
    padding: 15px;
    max-height: 50%;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    position:relative;
}

.SPODERbanner > img {
    height: 100%;
    width: 100%;
}

.SPODERbanner .SPODERbannertext {
    color: white;
    position: absolute;
    top: 10px;
}

.resources{
    float: left;
    width: 45%;
    padding: 5px;
    background-color: darkgrey;
    color: white;
    height: 100%;
}

.resources .resourcesList {
    background-color: white;
    color: black;
    padding: 5px;
}

.letters {
    padding: 15px;
    float: left;
    width: 55%;
}

/* AFFILIATES PAGE */

td {
    padding: 10px;
}

.infoAff > img {
    display: flex;
    width: 100%;
    height: 100%;
}