<!-- REQUEST INFO PAGE -->
<!DOCTYPE html>
<html>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/requestFactory.js"></script>
<script src="js/controllers/requestController.js"></script>

<head>


</head>

<body ng-app="directoryApp">
  <div id="nav-placeholder">

  </div>

  <script>
    $(function() {
      $("#nav-placeholder").load("navbar.html");
    });
  </script>
    <h1>Request Program Information</h1>

  <div class="formdiv" ng-controller="RequestsController">
    <form novalidate class="simple-form" action="mailto:entrepreneurshipempower@gmail.com" method="post">
      <p> If you would like more information about programs available through Entrepreneurship
        Empowerment, please let us know which the programs in which you are interested,
        and please provide contact information so we can follow up with you:
        <br>
        <input type="radio" name="info" value="workshops" ng-model="newRequest.response"><label for="workshops">Training workshops on poverty and entrepreneurship in your community</label><br>
        <input type="radio" name="info" value="programAssistance" ng-model="newRequest.response"><label for="programAssistance">Assistance with development of community-based poverty and entrepreneurship programs</label><br>
        <input type="radio" name="info" value="researchAssistance" ng-model="newRequest.response"><label for="researchAssistance">Research assistance related to community-based examinations of poverty and entrepreneurship</label><br>
        <input type="radio" name="info" value="conference" ng-model="newRequest.response"><label for="conference">Organization of conferences or community forums on poverty and entrepreneurship</label><br>
        <input type="radio" name="info" value="other" ng-model="newRequest.response"><label for="other">Other</label><br>
        <input type="radio" name="info" value="notSure" ng-model="newRequest.response"><label for="notSure">Not sure</label><br>

        <br>
        Your name:<br><input name="name" ng-model="newRequest.name" />
        <br>
        Your organization:<br><input name="organization" ng-model="newRequest.organization" />
        <br>
        Phone:<br><input name="phone" ng-model="newRequest.phone" />
        <br>
        Email address:<br><input name="email" ng-model="newRequest.emailaddress" />
        <br>
        <br>
        <button class="button" ng-click="addRequest()">Submit</button>
      </p>
    </form>
  </div>
</body>

</html>
